
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

//Color Pallettte


// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: #385c87;
  color: white;
}

.section-header{
  text-align: center;
  color: white;
}

// Header Section

.landing-header:before{
  content: "";
  background-color: rgba(108,165,204,.4);
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.landing-header{
  height: 100vh;
  text-align: center;
  background-image: url("https://unsplash.it/1200/400");
  background-size: cover;
  color: #f2f2f2;
  margin-top: -20px;
}

.name{
  font-size: 60px;
}

// Portfolio section

.portfolio-title{
  position: relative;
  top: 160px;
}

.portfolio-section{

}

.portfolio-pic{
  min-height: 200px;
  max-height: 200px;
}

.port-box{
  overflow: scroll;
  min-height: 200px;
  max-height: 200px;
}

// Biography section

.personal-info-section{
  text-align: center;
}

.text-link > a {
  text-decoration: none;
  color: white;
}

.small-header{
  // color: #e2be1d;
}

// Contact Info

.font-icon{
  color: white;
  font-size: 45px;
}

.contact-box{
  transition: border .5s ease;
  border: 5px solid #fff;
  height: 100px;
  margin-top: 5px;
}

.contact-box:hover{
  transition: border .5s ease;
  border: 1px solid #fff;
}

.contact-name{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 22px;
}

// NavBar Side
